body{
    overscroll-behavior-y: none;
    touch-action: manipulation;
    text-align: center;
    font-size: 30px;
    width: 900px;
    background-color: rgb(48, 39, 119);
    margin: auto;
    padding: 0;
    }

@media all and(orientation: landscape){ body {width: 1400px;} }
@media all and(orientation: portrait){ body {width: 900px;} }
    
div {
    text-align: center;
}

input{
  font-size: 30px;
}

.titlediv {
    background: linear-gradient(to bottom, #4987F6, #42BDF9);
    height: 250px;
}

.titlemoji {
    font-size: 66px;
    font-weight: 900;
  fill: #FBFEFE;
  stroke: #E40011;
  stroke-width: 2;
  stroke-linejoin: round;
}

#tensyonButton {
  width: 128px;
  height: 128px;
  border-radius:100%;
  background-color: rgb(99, 102, 101);
  margin-bottom: 30px;
    margin-top: 50px;
  color: rgb(172, 178, 180);
  font-size: 64px;
  font-family: 'Coda Caption';
  font-weight: 800;
    line-height: 2;
  text-align: center;
}

.gaugep{
   position: relative;
   background-color: rgb(222, 219, 228);
   width: 520px;
   height: 18px;
   margin: auto;
}

.gauge{
    position:absolute;
    background-color: rgb(211, 1, 0);
    width: 500px;
    height: 10px;
    left: 10px;
    top: 4px;
}

.controller {
  position: absolute;
  transform-origin:0 0;
  transform:rotate(90deg);
  height: 30px;
  top: 48px;
  left: 550px;
  background-color: transparent;
}

.wakudiv{
    margin-bottom: 30px;
    height: 51px
  }

.waku{
  width: 50px;
  height: 50px;
   vertical-align: baseline;
  margin-left: 28px;
  border: 2px solid #FFFEFF;
}

.marukusuru {
    border-radius:50%;
}

.resetbuttondayo input{
  margin-bottom: 40px;
}

.resetbutton {
  background-color: rgb(211, 1, 0);
    border: 2px solid #FFFEFF;
}

.bgmselectdiv {
    margin-top: 100px;
    margin-bottom: 15px;
}

.livebutton {
    background-color: rgb(235, 137, 95);
    border: 2px solid #F8E9AB;
}

.overflow-hidden {
  overflow: hidden;
}


input[value='f']{
  color: rgb(255, 230, 133);
}
input[value='w']{
  color: rgb(186, 233, 255);
}
input[value='g']{
  color: rgb(221, 254, 154);
}
input[value='d']{
  color: rgb(255, 148, 255);
}
input[value='l']{
  color: rgb(255, 255, 159);
}
input[value='h']{
  color: rgb(255, 185, 231);
}
input[value='x']{
  color: black;
}

input[value='配置をシャッフル']{
  color: #FFFEFF;
}

input[value='onにする']{
  color: #FFFEFF;
}

input[value='offにする']{
  color: #FFFEFF;
}

input[value='ライブ']{
  color: rgb(239, 229, 208);
}

#fadeLayer {
  position:absolute;
  

  width:520px;
  height:530px;

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}

#gachaGamen {
  width:600px;
  height:530px;
  background-color:#000000;
  color:#ffffff;
  margin: auto;
  margin-top: 100px;
  padding: 20px 0;
  position: relative;
}

.gachaTop {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80%;
}

#gachaButton {
  font-size: 30px;
  font-weight: 800;
  background-color:red;
  color:gold;
}

.hideAnime{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  }
.showAnime{
  transition: 1s;
  opacity: 1;
  visibility: visible;
  }

#library {
  margin-top:50px;
  margin-bottom: 50px
}

.libraryDiv {
  height: 80px;
  margin-left:20%; 
  margin-bottom: 20px;
  text-align:left;
}

.libraryText {
  text-align: center;
  font-size: 50px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 80%;
  width: 80%;
  padding: 50px;
  background-color: #000;
  z-index: 2;
}
.popup-inner img {
  width:100%;
}
#popupimg{
  height: 70vh;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
.bg-black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
